div hr.hr {
    border: 1px solid #16325B;
}

.banner-image {
    height: 350px;
    object-fit: cover;
    object-position: center;
    display: block;
    filter: brightness(0.5);
}
@media screen and (width > 750px) {
 .banner-image{
        height: 400px;
    }    
}
@media screen and (width > 1020px) {
 .banner-image{
        height: 500px;
    }    
}

/* ==================================================== Navbar.js */

#Logo {
    height: auto;
    width: 50px;
    border-radius: 50px;
    /* padding: 10px; */
}

#VFSName {
    color: #16325B;
    font-size: 30px;
}


.largeMenu {
    width: fit-content;
    max-width: 600px;
}

.smallMenu {
    max-width: 300px;
}

.menu-options {
    display: none;
    position: absolute;
    z-index: -1;
    /* left: 10px; */
    /* width: fit-content; */
    /* width: min-content; */
}
.menu-options ul {
    list-style-type: none !important;
    
}

.menu-options li a {
    color: #0f1d5d;
}

.menu-options li:hover a , li.nav-item:hover .nav-links {
    font-weight: bold !important;
    background-color: #2e43a4 !important;
    color: whitesmoke !important;
}


#menu:hover + .menu-options ,.menu-options:hover,
.menu-options li:hover  {
   display: block !important;
   z-index: 4 !important;
}

li.nav-item .nav-links {
    color: #0f1d5c !important;
}

/* ==================================================== Footer.js */

.social-icons{
    height: auto;
    width: 30px;
}

#Footer {
    background-color: #192965;
}

#Footer p {
    color: #6c757d;
    margin: 0;
        font-size: x-small;
}

#Footer h6 {
    position: relative;
    display: inline-block;
}

#Footer h6::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #6c757d;
}

/* ==================================================== QuickWhatsapp.js */

a#QuickWhatsapp {
    z-index: 100;
    bottom: 90px;
    right: 20px;
}

a#QuickWhatsapp #SVG {
    height: 60px;
    width: auto;
}

/* ===================================================== CarouselBanner.js */

#CarouselBanner ul.slick-dots {
    display: flex !important;
    flex-direction: column;
    bottom: 5%;
    left: 95%;
    width: min-content;
}

#CarouselBanner #CarouselBanner .slick-dots li {
    margin: 10px 0 !important;
}

#CarouselBanner .slick-dots li button{
    background-color: #738598 !important;
    border-radius: 25px;
    width:10px !important;
    height: 10px !important;
    opacity: 80%;
}

#CarouselBanner .slick-dots li button:before {
    content: '' !important;
}

#CarouselBanner .slick-dots li.slick-active button{
    background-color: #F6F6F6 !important;
    width:10px !important;
    height: 20px !important;
}

#CarouselBanner .slick-dots li.slick-active button:before {
    content: '' !important;
}

#CarouselBanner .banner-image {
    height: 350px;
    object-fit: cover;
    object-position: top;
    display: block;
    filter: brightness(0.5);
}
@media screen and (width > 750px) {
    #CarouselBanner .banner-image{
        height: 400px;
    }    
}
@media screen and (width > 1020px) {
    #CarouselBanner .banner-image{
        height: 500px;
    }    
}

#CarouselBanner #ReadMore {
    text-decoration: none;
    width: fit-content;
    width: -moz-fit-content; /* For Firefox */

clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

/* ===================================================== HomePage.js */

#section1 , #section2 , .homepageBanner {
    background-color: #EAE4DD;
}

#section3 {
    background-color: #E1D7C6;
}

#section4 {
    background-color: #CDC2A5;
}


/* ===================================================== HomePageSection1.js */

#HomePageSection1 #right {
    position: relative;
    z-index: 1; 
}

#HomePageSection1 #right::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%;
    background-image: url('../assets/VFS_Logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    opacity: 0.2; 
    z-index: -1; 
}

/* ===================================================== HomePageSection2.js */


/* ===================================================== CardComponent.js */

.card-link {
    display: inline-block;
  position: relative;
  color: #0d6efd;
}

.card-link::after {
    content: '';
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0d6efd;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.card-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#Card {
  overflow: hidden;
  transition: transform 0.4s ease;
}

#Card:hover {
  box-shadow: 0px 4px 20px #0C359E !important; 
}


/* ===================================================== CardCarousel.js */

.slick-prev, .slick-next {
width: 40px; /* Add width and height */
height: 40px;
}
.slick-next::before {
    background-image: url('../assets/svg/rightt-arrow.svg');
}
.slick-prev::before {
    background-image: url('../assets/svg/left-arrow.svg');
}
.slick-prev:before, .slick-next:before {
    font-size: 0; /* Remove the default arrow */
    opacity: 1; /* Control the opacity */
    display: block;
    width: 100%;
    content: '' !important;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* ====================================================== AboutUs.js */

#HomePageSection1 #OurMision {
    position: relative;
    z-index: 1; 
}

#AboutUs #OurMission::after {
     content: " ";
    position: absolute;
    /* top: 25%; */
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/VFS_Logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.2; 
    z-index: -1;
}

.mission-svg,
.purpose-svg
{
  height: auto;
  width: 120px;   
  opacity: 85%;
}
@media screen and (width < 600px) {
        .mission-svg,
        .purpose-svg
        {
            width: 90px;;
        }
}
