.C1{    
    color: #0f1d5c !important;
}

a {
    text-decoration: none;
}

.indent {
    text-align: justify;
    text-indent: 20px;
}

.Heading-Text {
    border-left: 7px solid #0f1d5d;
    color: #0f1d5c;
    text-transform: uppercase;
    padding-left: 1rem !important;
}

/* ========================= changes  */
